<style media="screen">
  body, input, textarea, button {
    font-size: 12pt;
  }
</style>

<div>
  <form id="form" action="/api" method="post">
    <h1>RPC JSON</h1>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div><button type="submit" name="button">Submit</button></div>
  </form>
</div>
<div>
  <hr>
  <h2>Results</h2>
  <div id="results"></div>
</div>

<script type="text/javascript">
  $('form').submit(function(e) {
    e.preventDefault()

    RpcSql('<%= api_path %>')
      .select('posts.id').select('email').select('title').select('body')
      .from('users')
      .join('join posts on users.id = posts.user_id')
      .orderBy('posts.id desc')
      .post(function(data) {
        $('#results').html('<pre>' + str + '</pre>')
      })
  })
</script>
